* {
    font-family: 'Inconsolata', monospace;
}

@mixin header {
    height: 200px;
    vertical-align: middle;
    margin: 20px;
}

.espace_perso {
    @include header;
}

.accueil {
    @include header;
}
